header {
  display: flex;
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: rgb(159, 118, 197);
  flex-direction: column;
  justify-content: center;
}

.profilePic {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
}