header.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #708bcf;
background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
}

.profilePic {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

.username h2 {
  margin: 0.25em;
  font-weight: normal;
}