/* Styling for nav bar of index.html */

nav {
  position: fixed;
  display: flex;
  height: 90px;
  width: 100vw;
  padding: 0 1.5em;
  justify-content: space-between;
  top: 0;
  align-items: center;
}

nav span {
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

.logo {
  font-family: 'Bungee', sans-serif;
  align-self: flex-end;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.nav-newTweet {
  display: flex;
  flex-direction: column;
  color: red;
  align-items: center;
}

.nav-arrow-button {
  background-color: transparent;
  border: none;
  border-radius: 15px;
}

.nav-arrow-button:hover {
  cursor: pointer;
  color: red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
  box-shadow:  5px 6px 3px rgb(64 86 161 / 31%);
}

@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-15px); }
100% { transform: translateY(0); }
}

p {
  display: flex;
  width: 85%;
  font-size: large;
}