#tweets-container {
  width: 100%;
} 

article {
  width: 100%;
  border: solid black;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 15px;
}

article:hover {
  box-shadow:  5px 6px 3px rgb(64 86 161 / 31%);
}

article p {
  padding-left: 10px;
  padding-bottom: 10px;
}

.tweet-header {
display: flex;
justify-content: space-between;
align-items: flex-start;
font-size: 22px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-top: solid;
  padding-left: 10px;
  padding-bottom: 10px;
}

.logos {
  width: 60px;
  color:#4056A1
}

a:visited {
  color: #4056A1
}

a:hover {
  color: orange;
  filter: brightness(75%);
}

.person {
  align-items: center;
  width: fit-content;
  font-weight: normal;
}

.user-handle {
  font-size: large;
  color: #708bcf6b;
  padding: 10px;
}

.person img {
  width: 45px;
  height: auto;
  padding-right: 5px;
}

.error {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0px;
  width: 75%;
  padding: 4px;
  font-size: medium;
  color: white;
  background-color: red;
  border: 1px black dotted;
  border-radius: 5px;
}

.error-message {
  width: 75%;
  font-size: medium;
  color: white;
  text-align: center;
  background-color: red;
}